<a href='/profile.html'>
  <img src='/images/yantene.svg' width='100%'>
</a>

<div class='row'>
  <div class='one-third column'>
    <a href='https://twitter.com/yantene'>
      <img src='/images/twitter.svg' width='100%'>
    </a>
  </div>
  <div class='one-third column'>
    <a href='http://mstdn.yantene.net'>
      <img src='/images/mastodon.svg' width='100%'>
    </a>
  </div>
  <div class='one-third column'>
    <a href='https://github.com/yantene'>
      <img src='/images/github.svg' width='100%'>
    </a>
  </div>
</div>
