<!doctype html>
<html lang='ja'>
<head>
<!-- Basic Page Needs -->
  <meta charset='utf-8'>
  <title>{{page.title}} - {{site.name}}</title>
  <meta name='description' content='{{site.description}}'>
  <meta name='author' content='{{site.author}}'>

  <!-- Mobile Specific Metas -->
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- FONT -->
  <!--
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  -->

  <!-- CSS -->
  <link rel='stylesheet' href='/css/normalize.css'>
  <link rel='stylesheet' href='/css/skeleton.css'>
  <link rel='stylesheet' href='/css/syntax.css'>
  <link rel='stylesheet' href='/css/styles.css'>

  <!-- JavaScript -->
  <script src='/scripts/script.js' charset='utf-8'></script>
  <script async src='//platform.twitter.com/widgets.js' charset='utf-8'></script>

  <!-- Favicon -->
  <link rel='icon' type='image/png' href='/images/favicon.png'>
</head>
<body>
  <div class='container' id='surface'>
    <a href='/'>
      <header class='row' id='header'>
        <img src='/images/logo.svg'></img>
      </header>
    </a>

    <div class='row' id='content'>
      <div class='nine columns' id='main'>
        {{content}}
      </div>
      <div class='three columns' id='sidebar'>
        {% include sidebar.html %}
      </div>
    </div>

    <footer>
      Copyright &copy; yantene.net All Rights Reserved.
    </footer>
  </div>
</body>
</html>
